.topnav {
    width: 225px;
    padding: 40px 28px 25px 0;
    font-family:Arial, Helvetica, sans-serif;
    background: #00395a;
}

ul.topnav {
    padding: 0;
    margin: 0;
    line-height: 0.5em;
    list-style: none;
}

ul.topnav li {
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
	 border-radius: 8px;
    background: #809cad;
    border:1px solid #00395a;
    list-style-type:none;
}

ul.topnav li a {
    line-height: 10px;
    font-size: 14px;
    padding: 10px 5px;
    color: #00395a;
    display: block;
    text-decoration: none;
    font-weight: bolder;
}

ul.topnav li a:hover {
    background-color:#675C7C;
    color:white;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
	border-radius: 8px;
	font-weight: bolder;
}

ul.topnav ul {
    margin: 0;
    padding: 0;
    display: none;
    background: #00395a;
}

ul.topnav ul li {
    margin: 0;
    padding: 0;
    clear: both;
    list-style-type:none;
}

ul.topnav ul li a {
    padding-left: 30px;
    font-size: 12px;
    font-weight: bolder;
    outline:0;
}

ul.topnav ul li a:hover {
    background-color:#D3C99C;
    color:#00395a;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
	border-radius: 8px;
}

ul.topnav ul ul li a {
    color:#00395a;
    padding-left: 50px;
	font-weight: bolder;
}

ul.topnav ul ul ul li a {
    color:#00395a;
    padding-left: 70px;
	font-weight: bolder;
}

ul.topnav ul ul li a:hover {
    background-color:#D3CEB8;
    color:#00395a;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
	border-radius: 8px;
}

ul.topnav span{
    float:left;
}